.container {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: stretch;
	background-image: url('src/images/gameBackground.jpeg');
	background-size: cover;
}

.playerOne {
	align-self: flex-end;
}

.playerTwo {
	margin-top: -20px; /* remove whitespace */
	margin-right: 10px; /* stop hover box colliding with border */
}

