.log {
	position: absolute;
	bottom: 0.25rem;
	left: 0.25rem;
	overflow: scroll;
	overflow-x: hidden;
	/* ensure scroll bar fits inside container */
	height: 98%;
	width: 99%;
	line-height: 40px;
}

.logContainer {
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
}