.pokemon {
	width: 154px;
	position: relative;
}

.healthBar {
	/* health bar variables */
	--normal: lightgreen;
	--critical: red;
	/* make the div take up space */
	width: 100%;
	height: 5px;
	/* position div */
	position: absolute;
	bottom: 5px;
	/* create border so div is visable */
	border: 1px solid black;
	border-radius: 5px;
	/* center text */
	text-align: center;
}

.normal {
	background: linear-gradient(90deg, var(--normal) var(--health), white calc(var(--health) - 100%))
}

.warning {
	background: linear-gradient(90deg, var(--warning) var(--health), white calc(var(--health) - 100%))
}

.critical {
	background: linear-gradient(90deg, var(--critical) var(--health), white calc(var(--health) - 100%))
}

.energyBar {
	/* make the div take up space */
	width: 100%;
	height: 5px;
	/* position div */
	position: absolute;
	bottom: -10px;
	/* create border so div is visable */
	border: 1px solid black;
	border-radius: 5px;
	/* center text */
	text-align: center;
	/* give proper background */
	background: linear-gradient(90deg, lightblue var(--energy), white calc(var(--energy) - 100%))
}