/* this contains the entire pokemon component, the width  */
.pokemon {
	width: 154px;
	position: relative;
	margin: 8px;
}

.healthBar {
	/* health bar variables */
	--normal: lightgreen;
	--critical: red;
	/* make the div take up space */
	width: 100%;
	height: 5px;
	/* give the bar margin on the bottom to move the energy bar away */
	margin-bottom: 5px;
	/* create border so div is visable */
	border: 1px solid black;
	border-radius: 5px;
	/* center text */
	transition: background 5s;
}

.normal {
	background: linear-gradient(90deg, var(--normal) var(--health), white calc(var(--health) - 100%))
}

.warning {
	background: linear-gradient(90deg, var(--warning) var(--health), white calc(var(--health) - 100%))
}

.critical {
	background: linear-gradient(90deg, var(--critical) var(--health), white calc(var(--health) - 100%))
}

.energyBar {
	/* make the div take up space */
	width: 100%;
	height: 5px;
	/* create border so div is visable */
	border: 1px solid black;
	border-radius: 5px;
	/* center text */
	text-align: center;
	/* give proper background */
	background: linear-gradient(90deg, lightblue var(--energy), white calc(var(--energy) - 100%))
}

.infoContainer {
	text-align: center;
}

.name {
	font-size: 14px;
	color:white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hoverCard {
	width: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(209, 209, 209, .8);
	border: 2px black solid;
	padding: 2px;
	margin-top: 15px;
	font-size: 15px;
	text-align: center;
}

.hoverCard:hover {
	cursor: pointer;
}

.smallText {
	font-size: 12px;
}

.pokemonImage {
	filter: drop-shadow(-4px 4px 2px #222);
}