.main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 90vh;
	gap: 8px;
	align-content: flex-start;
	/* add space to bottom of page for smaller screens */
	margin-bottom: 30px;
}

.container {
	border: 4px solid black;
	border-radius: 5px;
	min-width: 750px;
	height: 360px;
	position: relative;
}

.controls {
	height: 360px;
}

.break {
	flex-basis: 100%;
	height: 0px;
}


