.main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 90vh;
	gap: 8px;
	align-content: flex-start;
	/* add space to bottom of page for smaller screens */
	margin-bottom: 30px;
}

.container {
	border: 4px solid black;
	border-radius: 5px;
	min-width: 750px;
	height: 360px;
	position: relative;
}

.controls {
	height: 360px;
}

.break {
	flex-basis: 100%;
	height: 0px;
}

/* PREGAME */

/* set pregame div to take up whole screen and add gray background */
.pregame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color:  #bbb
}

/* add margin for content */
.pregameContent {
	margin: 10px;
}

.pokemonListContainer {
	display: inline;
	cursor: pointer;
}

.pokemonImage {
	image-rendering: pixelated;
	zoom: 1.5
}

.confirm {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
}

.confirmButton {
	background-color: lightgreen;
	font-size: 30px;
}
